body{
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    background: linear-gradient(to right, #350314, #fed4cf);
}

.judul{
    font-family: 'Times New Roman', Times, serif;
    font-size:50px;
}

.container{
    width:80%;
    margin:auto;
}

.form{
    margin-bottom:20px;
}

.form input{
    padding:8px;
    margin:5px;
}

button{
    padding:8px 15px;
    background:#002b25;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#42010a7e;
}

#search{
    padding:8px;
    width:50%;
    margin-bottom:15px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#dac19e;
}

th, td{
    border:1px solid #0a0a0a;
    padding:15px;
}

th{
    background:#380707;
    color: #faf9f7;
    cursor:pointer;
}

tr:hover{
    background:#5f021270;
}
