@font-face {
font-family: 'Schabo';
src: url('font/Schabo-Condensed.ttf') format('truetype');
}

body{
font-family: Arial, sans-serif;
background-color: #c5a880;
text-align: center;
}

h2{
margin-top:20px;
font-family:'Schabo', sans-serif;
font-size:40px;
letter-spacing:2px;
}

input{
padding: 8px;
width: 250px;
margin-bottom: 15px;
}

table{
margin: auto;
border-collapse: collapse;
width: 70%;
background: white;
}

th, td{
border: 1px solid #0e0d0d;
padding: 10px;
}

th{
background-color: #730000;
color: white;
cursor: pointer;
}

tr:nth-child(even){
background-color: #85838356;
}

tr:hover{
background-color: #15794f80;
}